{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #e3e7eb;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right">
  <div class="card my-4">
    <h5 class="card-header">About Us</h5>
    <div class="card-body">
      <p class="card-text">
        Currently i am studying bsc-csit under the affiliation of Tribhuvan
        University. Being a enthusiast person i tend to make use of modern web
        technologies to build websites.I love both Programming and designing.
      </p>
      <a href="http://akasha.com.np/" class="btn btn-danger">Know more!</a>
    </div>
  </div>
</div>

{% endblock sidebar %}
